<div class="messages">
    <message ng-repeat="message in messages track by $index"
             message="message"></message>
</div>
<form ng-submit="sendForm.$valid && send()" name="sendForm" class="input-group" novalidate>
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="openImageUpload()">
            <i class="glyphicon glyphicon-picture"></i>
        </button>
    </span>
    <input ng-model="currentMessage"
           class="message-input form-control"
           type="text"
           required
           placeholder="Enter a message..." />
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Send</button>
    </span>
</form>
