<div class="messages">
    <p ng-repeat="message in messages track by $index"
       ng-class="{'my-message': message.author.name === currentUser}"
       class="message card"
       uib-popover="{{message.created | date : 'HH:mm:ss'}}"
       popover-placement="{{message.author.name === currentUser ? 'left' : 'right'}}"
       popover-trigger="mouseenter">
        <strong ng-bind="message.author.name"></strong>:
        <span ng-bind="message.content"></span>
    </p>
</div>
<form ng-submit="sendForm.$valid && send()" name="sendForm" class="input-group" novalidate>
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="openImageUpload()">
            <i class="glyphicon glyphicon-picture"></i>
        </button>
    </span>
    <input ng-model="currentMessage"
           class="message-input form-control"
           type="text"
           required
           pattern="[^\s]+"
           placeholder="Enter a message..." />
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Send</button>
    </span>
</form>
