<div class="view-edit-image handsome-modal">
    <h2 class="title">
        <strong>{{vm.image.author.name}}</strong>
        <em>(Uploaded: {{vm.image.created | handsomeDate}})</em>
    </h2>
    <div class="card content">
        <div class="col-md-8 image-view">
            <img ng-src="{{vm.image.url}}" alt="User's image" />
        </div>
        <div class="col-md-4 image-info">
            <div class="btn-group-justified">
                <div class="btn-group" ng-if="vm.isOwner">
                    <button class="btn btn-primary" ng-click="vm.send()">
                        Send
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="vm.close()">
                        Close
                    </button>
                </div>
            </div>

            <div class="like-container">
                <i class="heart glyphicon clickable handsome-hover"
                   ng-class="{'glyphicon-heart': vm.image.hasLiked, 'glyphicon-heart-empty': !vm.image.hasLiked }"
                   ng-click="vm.triggerLike()"></i>
                <span ng-bind="+vm.image.likes"></span>
            </div>

            <div class="description">
                <p ng-bind="vm.image.description"
                   ng-if="!vm.isOwner"></p>
                <textarea class="form-control"
                          placeholder="Description..."
                          ng-if="vm.isOwner"
                          ng-disabled="!vm.editMode"
                          ng-model="vm.image.description"></textarea>
            </div>

            <div class="btn-group-justified" ng-show="vm.editMode">
                <div class="btn-group">
                    <button ng-click="vm.save()"  class="btn btn-primary">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div class="edit-buttons" ng-if="vm.isOwner">
            <span class="glyphicon glyphicon-pencil" ng-click="vm.triggerEditMode()"></span>
            <span class="glyphicon glyphicon-trash"
                  mwl-confirm
                  title="Image"
                  message="Are you sure you want to delete this image?"
                  confirm-text="Delete"
                  placement="left"
                  confirm-button-type="danger"
                  on-confirm="vm.delete()"></span>
        </div>
    </div>
</div>